.fmodal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 186px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* Modal Content */
  /* Modal Header */
  &__header {
    padding: 2px 16px;
    background-color: white;
    color: white;
    background: transparent;
  }

  /* Modal Body */
  &__body {
    padding: 31px 65px 105px 65px;
  }

  /* Modal Footer */
  &__footer {
    padding: 2px 16px;
    background-color: white;
    color: white;

    background: transparent;
  }

  /* Modal Content */
  &__content {
    position: relative;
    background: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

    background-image: url("/images/modal_bg_top.png"),
      url("/images/modal_bg_bottom.png");
    background-position: left top, right bottom;
    // background-size: cover;
    background-repeat: no-repeat;
  }

  /* Add Animation */
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding-left: 6px;
    margin-top: 10px;
    line-height: 32px;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1024px) {
  .fmodal {
    padding-top: 250px;
    &__content {
      width: 40%;
    }
    &__header {
      padding: 2px 16px;
    }
    &__body {
      padding: 20px 40px 30px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .fmodal {
    padding-top: 200px;
    &__content {
      width: 60%;
    }
    &__header {
      padding: 2px 16px;
    }
    &__body {
      padding: 20px 40px 30px;
    }
  }
}
@media only screen and (max-width: 425px) {
  .fmodal {
    padding-top: 100px;
    &__content {
      width: 90%;
    }
    &__header {
      padding: 2px 16px;
    }
    &__body {
      padding: 0px 20px 10px;
    }
  }
}
