.btn_get_started_wrapper {
  position: absolute;
  right: 20px;
  top: 20px;

  -webkit-animation: 0.5s ease-in-out 1s 1 both fadeIn;
  -moz-animation: 0.5s ease-in-out 1s 1 both fadeIn;
  animation: 0.5s ease-in-out 1s 1 both fadeIn;
}
.sign-up-form {
  border: 1.2px solid #007aff;
  border-radius: 35px;
  background-color: #ffffff;
  box-shadow: 2px 10px 12px 2px rgba(48, 125, 255, 0.16);
  display: flex;
  padding: 3.6px 3.6px 3.6px 18px;

  -webkit-animation: 0.5s cubic-bezier(0.05, 0.74, 0.39, 1) 0.8s 1 both
    fadeInLeft;
  -moz-animation: 0.5s cubic-bezier(0.05, 0.74, 0.39, 1) 0.8s 1 both fadeInLeft;
  animation: 0.5s cubic-bezier(0.05, 0.74, 0.39, 1) 0.8s 1 both fadeInLeft;

  &__inline-grow {
    display: flex;
    position: relative;
    flex-grow: 1;

    .flabel {
      min-width: fit-content;
      display: flex;
      align-items: center;
    }
    .finput {
      flex-grow: 1;
      border: none !important;
      margin-left: 5px;
      width: 0;
    }
  }
  .MuiInput-underline:before {
    display: none;
  }
  .MuiFormControl-root {
    margin-top: 0px;
  }
  .MuiInputBase-root {
    font-size: 16px !important;
    color: #2065ff !important;
  }
  .MuiFormLabel-root {
    font-size: 16px !important;
    color: #2065ff !important;
  }
}

.sign-up-form__inline-grow {
  padding-right: 12px;
}
.sign-up-form__inline-grow:first-child::after {
  content: "";
  height: 50%;
  width: 1px;

  position: absolute;
  right: 0px;
  top: 25%; // If you want to set a smaller height and center it, change this value

  background-color: rgba(32, 101, 255, 0.3); // The color of your border

  margin-right: 6px;
}

.headline-bottom-text {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Avenir Next";
  font-size: 14px;
  line-height: 19px;
  margin-top: 12.8px;
  margin-left: 18px;
}
.social_button {
  border-radius: 50%;
}
.social_button:hover {
  border: 1.2px solid #007aff;
  border-radius: 50%;

  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.social-line {
  width: 105px;
  background-color: #2065ff;
  height: 2px;
  margin: 26px 0px 26px 20px;
}

.dropbtn {
  background-color: #f5f4f4;
  color: #14172c;
  padding: 3.25px;
  font-family: "Avenir Next";
  font-size: 13.2px;
  line-height: 18px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  img {
    margin-right: 4px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.lang-dropdown {
  margin-left: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #14172c;
  font-family: "Avenir Next";
  font-size: 13.2px;
  line-height: 18px;
  padding: 3.25px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  img {
    margin-right: 4px;
  }
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: lightgray;
}
.main-intro {
  .intro-mobile-gradient {
    display: none;
    position: absolute;
    width: 100%;
    height: 281px;

    background-image: linear-gradient(
      to top,
      rgba(8, 9, 17, 0) 0%,
      rgba(8, 9, 18, 1) 26.66%,
      rgba(9, 1, 19, 1) 88.24%,
      rgba(7, 9, 17, 1) 100%
    );

    -webkit-animation: 0.8s ease-in-out 1 both itemsOpacity;
    -moz-animation: 0.8s ease-in-out 1 both itemsOpacity;
    animation: 0.8s ease-in-out 1 both itemsOpacity;
    -webkit-animation: 0.5s cubic-bezier(0.05, 0.74, 0.39, 1) 0.8s 1 both
      fadeInLeft;
    animation: 0.5s cubic-bezier(0.05, 0.74, 0.39, 1) 0.8s 1 both fadeInLeft;
  }
  .intro-content {
    .logo-mobile {
      display: none;
      margin-left: calc(50% - 67px);
      top: 23px;
      position: absolute;
      z-index: 2;
    }
    .headline {
    }
  }

  .bg-mobile {
    display: none;
    position: absolute;
    top: 208px;
    z-index: 1;

    -webkit-animation: 0.8s ease-in-out 1 both itemsOpacity;
    -moz-animation: 0.8s ease-in-out 1 both itemsOpacity;
    animation: 0.8s ease-in-out 1 both itemsOpacity;
    -webkit-animation: 0.5s cubic-bezier(0.05, 0.74, 0.39, 1) 0.8s 1 both
      fadeInLeft;
    animation: 0.5s cubic-bezier(0.05, 0.74, 0.39, 1) 0.8s 1 both fadeInLeft;
  }
}
.modal-oops-body {
  text-align: center;
  h2 {
    margin-bottom: 36px;
    color: #231f20;
  }
  p {
    font-weight: 500;
    line-height: 23px;
    text-align: justify;
  }
}
.modal-thankyou-body {
  text-align: center;
  img {
    width: 100%;
    max-width: 288px;
    margin: auto;
  }
  h4 {
    margin-bottom: 62px;
    font-family: "Androgyne";
    color: black;
    font-size: 20px;
    line-height: 19px;
  }
  p {
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    text-align: justify;
  }
}
@media only screen and (min-width: 1200px) {
  .sign-up-form {
    padding: 5.8px 5.8px 5.8px 31px;
  }
  .main-intro {
    .intro-content {
      .social-line {
        width: 144px;
      }
      .headline {
        .headline-bottom-text {
          margin-top: 30px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1600px) {
  .sign-up-form {
    padding: 7.2px 7.6px 7.2px 31px;
    .MuiFormControl-root {
      margin-bottom: 12px;
    }
  }
  .main-intro {
    .intro-content {
      .social-line {
        width: 204px;
      }
      .headline {
      }
    }
  }
}

// @media only screen and (max-width: 384px) {
//   .main-intro {
//     .intro-mobile-gradient {
//       display: inherit;
//       z-index: 2;
//     }
//     .bg-mobile {
//       display: inherit;
//     }
//     .intro-content {
//       padding: 130px 0px 100px 0px;
//       background: transparent;
//       z-index: 3;

//       .logo {
//         display: none;
//       }
//       .logo-mobile {
//         display: inherit;
//       }
//       .socials {
//         left: 18px;
//         bottom: 20px;
//         ul li img {
//           width: 48px !important;
//         }
//         .social-line {
//           width: 92px;
//           margin-bottom: 22px;
//         }
//       }
//       .headline {
//         padding: 0 34px;

//         h1 {
//           font-size: 23px;
//           line-height: 31px;
//           margin-top: 0px;
//           font-family: inherit;
//           color: rgba(255, 255, 255, 0.89);
//           margin-bottom: 4px;
//         }

//         .headline-text {
//           color: rgba(255, 255, 255, 0.7);
//           font-size: 14px;
//           line-height: 21px;
//           margin-bottom: 234px;
//         }

//         .sign-up-form {
//           display: grid;

//           background: rgba(255, 255, 255, 0.9);
//           padding: 18.1px;
//           margin: 0px 0px 0px -12px;
//           border-radius: 20px;
//           border: none;

//           .MuiInputBase-input {
//             font-size: 18.9px;
//             line-height: 23px;
//           }

//           .sign-up-form__inline-grow:first-child::after {
//             display: none;
//           }

//           button {
//             padding: 18.9px;
//             font-size: 14.69px;
//             line-height: 18px;
//             margin-top: 9px;
//             font-family: "Lato";
//           }
//           .MuiInput-underline:before {
//             display: inherit;
//           }
//         }

//         .headline-bottom-text {
//           margin-top: 21px;
//           margin-left: 3px;
//         }
//       }
//     }
//   }
//   .main-media {
//     display: none;
//   }
// }

@media only screen and (max-width: 425px) {
  .sign-up-form {
    display: grid;

    background: rgba(255, 255, 255, 0.9);
    padding: 18.1px;
    margin: 0;
    border-radius: 20px;
    border: none;

    .MuiInputBase-input {
      font-size: 18.9px;
      line-height: 23px;
    }

    .sign-up-form__inline-grow:first-child::after {
      display: none;
    }

    button {
      padding: 18.9px;
      font-size: 14.69px;
      line-height: 18px;
      margin-top: 9px;
      font-family: "Lato";
    }
    .MuiInput-underline:after {
      border-bottom-color: #eee;
    }
    .MuiInput-underline.Mui-focused:after {
      border-bottom-color: #ccc;
    }
    .MuiInput-underline:before {
      display: inherit;
    }
  }
  .main-intro {
    .intro-mobile-gradient {
      display: inherit;
      z-index: 2;
    }
    .bg-mobile {
      display: inherit;
    }
    .intro-content {
      padding: 80px 0px 100px 0px;
      background: transparent;
      z-index: 3;

      .logo {
        display: none;
      }
      .logo-mobile {
        display: inherit;
      }
      .socials {
        left: 18px;
        bottom: 20px;
        ul li img {
          width: 48px !important;
        }
        .social-line {
          width: 92px;
          margin-bottom: 22px;
        }
      }
      .headline {
        padding: 0 34px;

        h1 {
          font-size: 23px;
          line-height: 31px;
          margin-top: 0px;
          font-family: inherit;
          color: rgba(255, 255, 255, 0.89);
          margin-bottom: 4px;
        }

        .headline-text {
          color: rgba(255, 255, 255, 0.7);
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 234px;
        }

        .headline-bottom-text {
          margin-top: 21px;
          margin-left: 3px;
        }
      }
    }
  }
  .main-media {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .modal-thankyou-body {
    text-align: center;
    img {
      margin-bottom: 6px;
    }
    h4 {
      margin-bottom: 31px;
      font-size: 16px;
      line-height: 15px;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
