.works-mobscreen {
  width: 25%;
  position: fixed;
  left: calc(25% - 183px);
  top: calc(50vh - 300px);
}

.works-mobscreen-backpattern {
  width: 40%;
  position: fixed;
  left: 5%;
  top: calc(50vh - 300px);
}

.works-bottom-container {
  position: relative;
  padding: 25px 30px;
  min-height: 260px;
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  &__title {
    color: #000000;
    font-family: "Avenir Next";
    font-weight: bold;
    font-size: 17.82px;
    line-height: 25px;
  }

  .works-form-container {
    margin-top: 12px;
  }

  @media only screen and (min-width: 768px) {
    min-height: 600px;
    padding: 64px 64px;
    &__title {
      font-size: 33px;
      line-height: 45px;
      padding: 12px;
      margin-right: 0px;
    }

    .works-form-container {
      margin-top: 30px;
    }
  }

  @media only screen and (min-width: 1200px) {
    padding: 64px 64px;
    &__title {
      font-size: 30px;
    }
  }
  @media only screen and (min-width: 1600px) {
    &__title {
      font-size: 35px;
    }
  }
}
.works-bottom-container::after {
  clear: both;
  content: "";
  display: table;
}
.works-form {
  border: 1.2px solid #ffc107;
  border-radius: 36px;
  background-color: #ffffff;
  // box-shadow: 2px 10px 12px 2px rgba(48, 125, 255, 0.16);
  box-shadow: 0 16px 34px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  padding: 3.6px 3.6px 3.6px 18px;

  &__inline-grow {
    display: flex;
    position: relative;
    flex-grow: 1;

    .flabel {
      min-width: fit-content;
      display: flex;
      align-items: center;

      color: #f97822;
      font-family: "Avenir Next";
      font-size: 12px;
      font-weight: 500;
      line-height: 22px;
    }
    .finput {
      flex-grow: 1;
      border: none !important;
      margin-left: 5px;
      width: 0;
    }
  }
  button {
    min-width: 70px;
    background: linear-gradient(225deg, #ffc107 0%, #f44336 99.3%);
    border-color: #ffc107;

    font-size: 12px;
    box-shadow: 0 0px 2px 0 #ffc107, 0 3px 14px 0 #ffc107;
  }
  button:hover {
    background: white;
    color: #ffc107;
  }
  @media only screen and (min-width: 1200px) {
    .flabel {
      font-size: 16.8px;
    }
    button {
      font-size: 16.8px;
    }
  }
}
