.contact-media {
  &__subtitle-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: calc(70% - 112px);
    border-radius: 16px;
    background-color: white;
    width: 70%;
    padding: 13px 14px;

    background-size: cover;
    overflow: hidden;

    color: #ffffff;
    font-family: "Avenir Next";
    font-size: 46px;
    font-weight: bold;
    line-height: 43px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.15);
  }

  &__addon-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: calc(70% - 97px);
    width: 70%;

    color: #ffffff;
    font-family: "Avenir Next";
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
  }
  .addon-left {
    float: left;
  }
  .addon-right {
    float: right;
  }

  &__social {
    display: inline-block;
  }

  &__social-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: calc(70% - 78px);
    width: 50%;
    text-align: center;
  }
  .social-left {
    float: left;
  }
  .social-right {
    float: right;
  }
}

.contact-footer {
  margin-top: 77px;
  ul {
    display: block;
    position: relative;
  }
  ul li {
    display: inline-block;
    margin: 0;
    margin-right: 40px;
  }
  &__link {
    display: block;
    position: relative;
    opacity: 0.2;
    color: #000000;
    font-family: "Avenir Next";
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;

    text-decoration: none;
  }
  &__link:hover {
    color: #2065ff;
    opacity: 1;
    cursor: pointer;
  }
}

.contact-form {
  margin-top: 30px;
  .MuiInputBase-root {
    font-size: 18.9px;
    line-height: 23px;
    color: #2065ff;
  }
  .MuiFormLabel-root {
    font-size: 18.9px;
    line-height: 23px;
  }
  button {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 425px) {
  .contact {
    .section-title span {
      margin-bottom: 13px;
    }
    .section-title p {
      line-height: 20px;
      font-size: 15px;
      margin-top: 0px;
    }
    .contact-form {
      padding: 0px 10px;
      margin-top: 20px;
      .MuiFormControl-marginNormal {
        margin-top: 0px;
        margin-bottom: 8px;
      }
      .MuiInputBase-root {
        font-size: 18.9px;
        line-height: 23px;
      }
      .MuiFormLabel-root {
        font-size: 18.9px;
        line-height: 23px;
      }
      button {
        width: 100%;
      }
      .contact-footer {
        margin-top: 53.4px;
      }
    }
    .contact-media {
      height: 400px;
      &__subtitle-container {
        font-size: 24.25px;
        line-height: 33px;

        padding: 3px 5px;
        top: calc(70% - 70px);
      }

      &__addon-container {
        font-size: 12px;
        line-height: 14px;

        top: calc(70% - 55px);
      }

      &__social-container {
        top: calc(70% - 42px);
        width: 40%;
      }

      .circle-img-button {
        width: 27px !important;
      }
    }
  }
}
