body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext/AvenirNextLTPro-It.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("/fonts/poppins-cufonfonts/Poppins-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
code {
  font-family: "Avenir Next";
}

#root {
  height: 100%;
}
